<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
<!--	  <class name="Appium_Executuion.Shopp_AppExecution"/>
      <class name="Appium_Executuion.TC002_Execution"/>
      <class name="Appium_Executuion.TC003_Execution"/>
      <class name="Appium_Executuion.TC004_Execution"/>    -->
      <class name="Appium_Executuion.Shopp_AppExecution"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
